.button-delete {
  transform: rotate(45deg);
  background: none;
  border: none;
  font-size: 25px;
  padding-top: 10px;
}

.button-delete:hover {
  color: red;
}

.button-save {
  position: absolute;
  font-size: 15px;
  margin-left: 1220px;
  margin-top: -25px;
}

.button-save:hover {
  color: red;
}

.edit-icon {
  width: 30px;
  height: 30px;
  background-color: #f8f8f8;
  border: 1px solid #e2e2e2;
  border-radius: 50%;
  cursor: pointer;
}

.edit-icon:hover {
  background-color: #e2e2e2;
}

.fa-pencil {
  font-size: 15px;
  color: #666666;
}

td > input[type="date"] {
  width: 90%;
}
