@import url(navigation/css/input_data.css);
@import url(navigation/css/nav.css);
@import url(navigation/css/output_data.css);
@import url(navigation/output_data/edit-data.css);

.container-form-delete {
  display: flex;
  width: 700px;
  margin-top: -300px;
}











