@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

body {
  background: #ebf0f3;
  overflow: hidden;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
  max-height: 90vh;
  overflow: auto;
}

.form {
  padding: 37.5px;
  margin: 50px 0;
}

input[type="text"],
[type="date"],
[type="number"],
[type="phone"],
select,
textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  width: 110%;
  box-sizing: border-box;
  transition: all 0.3s;
  outline-color: rgb(221, 255, 255);
}

.select_date {
  margin-right: 50px;
  width: 55%;
}

input[type="text"]:focus,
[type="email"]:focus,
[type="number"]:focus,
[type="phone"]:focus,
[type="date"]:focus,
textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

::-webkit-input-placeholder {
  color: #474544;
}

h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.name {
  width: 50%;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #f2f3eb;
}

#form_button:active {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.message-form-submit {
}

@media only screen and (max-width: 1024px),
  (min-device-width: 600px) and (max-device-width: 1024px) {
  .wrapper {
    border: 1px solid #c9b087;
  }
  TR {
    border: 1px solid #c9b087;
  }
  TD {
    border: none;
  }
  TR > TD:nth-child(1),
  TD:nth-child(3) {
    float: left;
    width: 50%;
    border-right: 1px solid #c9b087;
  }
  TR > TD:nth-child(2),
  TD:nth-child(4) {
    float: right;
    width: 45.6%;
  }
}
